body {
  background: url("/images/dorado.jpg") no-repeat center center fixed;
  background-color: #add8e6;
  color: #fff;
  height: auto;
  max-width: 100%;
  padding-top: 50px; }

footer {
  padding: 1.5rem; }

.logo {
  height: auto;
  max-width: 50px; }

.nav-link {
  color: white !important; }

.cover-caption {
  padding-top: -50px; }

.header {
  align-items: center;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center; }

.card {
  color: #2f4f4f;
  font-size: 0.8rem;
  height: auto;
  max-width: 100%; }

.project {
  padding-top: 50px; }
