/*style.css*/

body {
    background: #222 url('/images/dorado.jpg') no-repeat center center fixed;
    background-color: lightblue;
    color: white;
    /* Provide clearance for fixed navbar (50px) */
    height: auto;
    max-width: 100%;
    padding-top: 50px;
}

.header {
    align-items: center;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.card {
    color: darkslategrey;
    height: auto;
    max-width: 100%;
    width: 345px;
}

.project {
    padding-bottom: 50px;
    /* Provide clearance for fixed navbar (50px) */
    padding-top: 50px;
}
